#container {
  width: 380px;
  margin: auto;
  border: 1px solid lightgray;
  border-radius:12px;
  margin-top:40px;
  text-align: center;
}
#containt {
  padding: 10px;
}
#image {
  width: 100%;
  border-radius: 5px;
}
#title {
  font-size: 20px;
}
#items1{
    padding: 10px;
}
#items2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 21px;
}
#items3 {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 26px;
  font-weight: 700;
}
#btn {
  background-color: green;
  color: white;
  font-size: 20px;
  border-radius: 12px;
  width: 100px;
  height: 60px;
  border-color: transparent;
}
#cut {
  color: red;
  text-decoration: line-through;
}
